@model MTGDeckBuilder.DataModels.Deck

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deck</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.White)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.White)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Black)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Black)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Red)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Red)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Green)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Green)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colorless)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colorless)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
